/* Global */
body {
    background-color: #fafafa;
    font-family: 'Arial', sans-serif;
  }
  
  /* Signup & Login Container */
  .signup-container,
  .login-container {
    max-width: 350px;
    margin: 80px auto;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    text-align: center;
    padding: 20px;
  }
  
  /* Input Fields */
  .input-field {
    width: 268px;
    padding: 9px;
    border: 1px solid #efefef;
    border-radius: 3px;
    margin-bottom: 10px;
    transition: border-color 0.2s ease;
  }
  
  .input-field:focus {
    border-color: #999;
  }
  
  /* Signup & Login Button */
  .signup-button,
  .login-button {
    width: 268px;
    background-color: #3897f0;
    border: none;
    color: white;
    padding: 8px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .signup-button:hover,
  .login-button:hover {
    background-color: #357abD;
  }
  
  /* Dashboard */
  .welcome-text {
    font-size: 24px;
  }
  
  .joke-text {
    font-size: 18px;
  }
  
  .logout-button {
    background-color: #3897f0;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .logout-button:hover {
    background-color: #357abD;
  }
  